/* General styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(105, 130, 255);
	color: white;
	padding: 1em;
	text-align: center;
}

main {
	margin: 20px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-family: Montserrat, sans-serif;
}



/* Search bar styles */
#search-container {
	margin-bottom: 20px;
	text-align: center;
}

#search-bar {
	padding: 10px;
	font-size: 1rem;
	width: 80%;
	max-width: 600px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0;
}

ul li {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	flex: 1 1 250px;
	/* Adjust the size of each item */
	max-width: 300px;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #4CAF50;
}

.song {
	white-space: pre;
	font-family: monospace;
	/* Ensures fixed-width font to align chords */
	margin: 20px auto;
	max-width: 800px;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 10px;
}

.chords {
	color: blue;
	font-weight: bold;
	display: none;
}

/*Media queries*/