<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Admin Panel - Church Songs</title>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header class="header-hvalenie">
			<h1>Admin Panel - Хваление Емануил</h1>
			<nav>
				<a href="/auth/login">Login</a> | <a href="/auth/register">Register</a> |
				<a href="/admin" style="color: white;">Home</a> |
				<a href="/auth/logout">Logout</a>
			</nav>

		</header>

		<main class="admin-page-main">
			<section id="search-songs">
				<h2>Search Songs</h2>
				<div id="search-container">
					<input
						type="text"
						id="search-bar"
						placeholder="Search for songs..."
						oninput="filterSongs()"
					/>
				</div>
				<ul id="song-list"></ul>
				<h1 id="song-title" style="display: none;"></h1>
				<div style="display: none;" id="song-container" class="song"></div>
			</section>

			<div id="manage-users-container">
				<h3>Manage Users</h3>
				<div class="user-buttons">
					<button id="show-users-btn">Show Users</button>
					<button id="hide-users-btn" style="display: none;">Hide Users</button>
				</div>
				<ul id="users-list">
					<!-- List of users will be displayed here -->
				</ul>
			</div>
		</main>

		<script src="/js/script.js" defer></script>
		<script src="/js/songs.js" defer></script>
		<script src="/js/auth.js" defer></script>
		<script src="/js/admin.js" defer></script>
	</body>
</html>