<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Church Songs</title>
		<link rel="stylesheet" href="/css/styles.css"/>
		<link rel="preconnect" href="https://fonts.googleapis.com"/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
			rel="stylesheet"
	/>
	</head>
	<body>
		<header class="header-hvalenie">
			<a href="/auth/register">Register</a> | <a href="/auth/login">Login</a>
			<h1>Хваление Емануил</h1>
			<a href="/index" style="color: white;">Home</a>
			<a href="/auth/logout">Logout</a>
		</header>

		<main>
			<div id="search-container">
				<input
				type="text"
				id="search-bar"
				placeholder="Search for songs..."
				oninput="filterSongs()"
		/>
			</div>
			<ul id="song-list"></ul>
			<h1 id="song-title" style="display: none;"></h1>
			<div style="display: none;" id="song-container" class="song"></div>

			<!-- New elements for editing lyrics -->
			<textarea id="edit-lyrics" style="display:none;"></textarea>
			<button id="edit-lyrics-btn" style="display:none;">Edit Lyrics</button>
			<button id="save-lyrics-btn" style="display:none;">Save Lyrics</button>
		</main>

		<script src="/js/script.js" defer></script>
		<script src="/js/songs.js" defer></script>
		<script src="/js/auth.js" defer></script>
	</body>
</html>